* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}
/* Typography */
    .pb-2 {
        padding-bottom: 24px;
    }

/* Color */
    body, .box {
        background-color: #F0F0F3;
    }

    .bg-white, .btn-grad-turq:hover, .btn-grad-yellow:hover {
        background-color: white;
    }

    .service-card, .review-card, .section-description {
        color: #7D8491;
    }

    .t-white, .footer-list, .social-media > i, .footer-h2, .map-text, .section-title-invert, .main-title, .section-description-invert, .menu-btn, .navbar .menu li a {
        color: white;
    }

/* Layout */
    .d-flex {
        display: flex;
    }

    .a-items {
        align-items: center;
    }

    .review-card, .pricing-card, .footer-section, .footer-head {
        flex-direction: column;
    }

    .content-wrap, .pricing-wrap {
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    h1, h2, h3, h4, h5, h6 {
        text-wrap: balance;
    }

    /* p, li, figcaption {
        max-width: 65ch;
    } */

    h3 {
        font-weight: 500;
        font-size: 1.25rem; /* 20px */
        line-height: 1.75rem; /* 28px */
    }

    main, section, footer {
        padding: 3rem 0rem;
    }

    .sub-section {
        padding: 0 24px;
    }

    .main-title {
        font-weight: 600;
        font-size: 3rem;
        line-height: 1;
    }

    .section-head > img {
        width: 200px;
        padding-bottom: 12px;
    }

    .section-title, .section-title-invert {
        font-weight: 600;
        font-size: 1.875rem; /* 30px */
        line-height: 2.25rem; /* 36px */
    }

    .section-title {
        color: #7e6b0c;
    }

    .section-description, .section-description-invert {
        margin: auto;
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding-top: 16px;
        text-wrap: balance;
    }

    .box, .box-2, .box-3 {
        border-radius: 24px;
    }

    .box{
        padding: 16px;
        box-shadow: -10px -10px 30px rgba(255, 255, 255,1),
                    10px 10px 30px rgba(174, 174, 192,0.4);
    }   

    .box-2 {
        border: 3px solid #AA9010;
        box-shadow: 8px 8px #23c8a7;
        padding-bottom: 60px;
    }

    .box-3 {
        background-color: #d0d0d0;
    }

    .content-wrap {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
        gap: 16px;
        justify-content: center;
    }

/***** Navigation *****/ 
    .navbar {
        position: fixed;
        width: 100%;
        z-index: 3;
        padding: 24px 0;
        transition: all 0.3s ease;
    }

    .navbar .max-width {
        max-width: 1150px;
        padding: 0 80px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar .logo picture {
        display: flex;
        height: 25px;
        max-width: 100px;
    }

    .navbar .menu li {
        list-style: none;
        display: inline-block;
    }

    .navbar .menu li a {
        display: block;
        letter-spacing: 1px;
        margin-left: 25px;
        transition: color 0.3s ease;
    }

    .navbar .menu li a:hover {
        color: #AA9010;
    }

    .menu-btn {
        cursor: pointer;
        display: none;
    }

/* Sticky Navbar */
    .navbar.Sticky {
        background: linear-gradient(to left, #7E6B0C , #444444);
    }
/***** End Navigation *****/


/***** Main *****/ 
    .main {
        background-repeat: no-repeat;
        background-position: center;    
        background-size: cover;
        position: relative;
        height: 80vh;
        background-attachment: fixed;
    }

    .index-main {
        background-image: linear-gradient(0.40turn, rgb(36, 38, 42, .25), rgba(170, 144, 16, .25)), url(/img//bkg-img/bkg-ct-dark.jpg);
    }
    .about-main {
        background-image: linear-gradient(0.40turn, rgb(36, 38, 42, .25), rgba(170, 144, 16, .25)), url(/img//bkg-img/bkg-hug-dark.png);
    }

    .services-main {
        background-image: linear-gradient(0.40turn, rgb(36, 38, 42, 1), rgba(170, 144, 16, .75)), url(/img//bkg-img/bkg-support.jpg);
    }

    .pricing-main {
        background-image: linear-gradient(0.40turn, rgb(36, 38, 42, .75), rgba(170, 144, 16, .75)), url(/img//bkg-img/bkg-people-chat.jpg);

    }
/***** End Main *****/


/***** Service *****/ 
    .service-box {
        height: auto;
    }

    .services-icon > img{
        height: auto;
        width: 6rem;
        padding-right: 24px;
    }

    .service-card > p {
        font-weight: 400;
        font-size: 0.875rem; /* 14px */
        line-height: 1.25rem; /* 20px */
    }
/***** End Service *****/


/***** Map *****/ 
    .map-card {
        background-color: #24262A;
        border-radius: 24px;
    }

    .map-card > img, .graph-card > img {
        height: auto;
        max-width: 100%;
        border-radius: 1rem;
    }

    .map-text {
        padding: 24px;
    }
/***** End Map *****/


/***** Review *****/
    .review {
        background: linear-gradient(#7E6B0C, #ffffff);
    }
    .review-box {
        padding: 48px 24px;
    }

    .name {
        font-weight: 400;
        font-style: italic;
        line-height: 15px;
    }

    .comment {
        padding: 24px 0;
        text-align: justify;
    }

    .date {
        font-size: 0.75rem; /* 12px */
        line-height: 1rem; /* 16px */
    }

    .profile-pic {
        padding-right: 12px;
    }

    .profile-pic > img {
        border-radius: 100%;
        height: 50px;
    }

    .card-list .card-link .card-profile {
        line-height: 1.5rem;
    }

    .swiper-slide-button {
        color: #ffffff87!important;
    }
 /***** End Review *****/


/***** Facilities *****/ 
    .facilities {
        background-image: url(/img//bkg-img/bkg-ct-dark.jpg);
        background-repeat: no-repeat;
        background-position: center;    
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }
/***** End Facilities *****/


/***** Pricing *****/ 
    .price-check {
        list-style: none;
    }

    .price-check .fa-circle-check {
        color: #23C8A7;
    }

    .price-check .fa-circle-xmark {
        color: #c8233c;
    }

    .pricing-deck {
        display: grid;

    }
  
    .pricing-box {
        padding: 72px 36px;
    }

    .pricing-card > h3 {
        font-weight: 700;
    }

    .pricing-card > ul,p {
        font-size: 0.875rem; /* 14px */
        line-height: 1.25rem; /* 20px */
    }

    .pricing-wrap {
        gap: 36px;
    }

    .price-check > li, .pricing-card > h3 {
        padding-bottom: 8px;
    }
/***** End Pricing *****/

/***** Graph *****/ 
    .graph {
        background: linear-gradient(-45deg, #7E6B0C , #444444);
    }
/***** End Graph *****/

/***** About Us *****/ 
    .about {
        background-image: url(/img/hug.png);
        background-color: #444444;
        background-repeat: no-repeat;
        background-position: center;    
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }
/***** End About Us *****/

/***** Partner *****/ 
    .partner-title {
        text-align: center;
        font-weight: 400;
        color: #7D8491;
    }

    .partner-list {
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        flex-direction: row;
    }

   .partner-list > img {
        height: 102px;
        padding: 16px;
        opacity: 70%;
   }
/***** End Partner *****/



/***** Button *****/ 
    .btn-grad-turq {
        background-image: linear-gradient(to right, #1A9A9F 0%, #56A3A6  51%, #1A9A9F  100%);
        color: #fff;            
        
    }
    
    .btn-grad-yellow {
        background-image: linear-gradient(to right, #AA9010 0%, #7E6B0C  51%, #AA9010  100%);          
    }

    .btn-grad-turq, .btn-grad-yellow {
        transition: 0.5s;
        background-size: 200% auto;
        border: none;
        border-radius: 24px;
        display: block; 
        font-weight: 600;
        padding: 10px 20px;
        text-align: center;
    }

    .btn-grad-turq:hover, .btn-grad-yellow:hover {
        background-position: right center; /* change the direction of the change here */
    }

    .btn-center {
        margin-top: 3rem; 
        display: flex; 
        justify-content: center;
    }
/***** End Button *****/  


/***** Footer *****/
    footer {
        background-color: #24262A;
    }


    .social-media > i, .footer-h2 {
        font-size: 1.875rem; /* 30px */
        line-height: 2.25rem; /* 36px */
    }

    .footer-h2 {
        font-weight: 600;
    }
    .footer-p {
        text-align: center;
        color: #AA9010;
    }

    .footer-social {
        gap: 16px;
    }

/***** End Footer *****/


/***** About Page *****/ 
    .company {
        padding-top: 0;
    }
    .company-title {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .company-title .m-vission {
        padding-bottom: 24px;
    }
    .company-title .m-vission h2 {
        color: #7E6B0C;
        font-weight: 600;
    }
    .company-title .m-vission p {
        color: #7D8491;
    }

    .company-title img {
        max-width: 350px;
        border-radius: 100px 10px;
    }

    .mission-box {
        padding-bottom: 48px;
    }
 /***** End About Page *****/

/***** Process *****/ 
.process-image {
    max-width: 100%;
    height: auto;
}

.service-step {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
    font-weight: 500;
    color: #7e6b0c;
}
/***** End Process *****/


/***** gallery *****/ 
.gal-img {
    columns: 300px;
}

.gal-img > img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: .5rem;
}
/***** End gallery *****/


/* responsive */


/***** Pricing *****/ 

.pricing-deck {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: minmax(auto, 1fr);
}

.pricing-card-2 {
    max-width: 100%;
    background-image: linear-gradient(0.5turn, rgb(36, 38, 42, 1), rgb(121, 103, 12));
    border-radius: 1.5rem;
    padding: 1.5rem;
    color: #F0F0F3;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pricing-benefit-pt1 > hr {
    margin: 1rem 0;
}

.pricing-head > img {
    width: 150px;
}

.pricing-head > h2 {
    font-size: 2rem;
}

.pricing-head > p {
    font-size: 1rem;
}

.pricing-benefits > ul > li {
    list-style-position: inside;
}

.pricing-btn {
    margin: 1rem 0;
    width: 100%;
    transition: 0.5s;
    background-size: 200% auto;
    border: none;
    border-radius: 24px;
    display: block; 
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
}

.pricing-notes > p {
    font-weight: 200;
    text-align: center;
    font-size: .75rem;
    font-style: italic;
}
/***** End Pricing *****/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  

    .main {
        height: 50vh;
    }
    .pricing-wrap {
        flex-wrap: nowrap;
    }

    .graph-card, .map-card {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    .graph-card > img, .map-card > img {
        max-width: 300px;
    }

    .navbar .max-width, .sub-section {
        padding: 0 60px;
    }

    /* About page */
    .mission-box {
        flex-direction: row;
    }

    .mission-box .m-vission {
        padding-right: 48px;
    }


    .vision-box {
        flex-direction: row-reverse;
    }

    .vision-box .m-vission {
        padding-left: 48px;
    }

    .pricing-deck {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .section-head > img {
        visibility: hidden;
    }
    }
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html {
        font-size: 18px;
    }
    .main {
        height: 70vh;
    }
    .content-wrap {
        grid-template-columns: repeat(2, minmax(300px, 2fr));
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .pricing-deck {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1300px) {
    h3 {
        font-size: 1.5rem; /* 24px */
        line-height: 2rem; /* 32px */
    }
    
    .navbar .max-width {
        padding: 0;
    }

    .sub-section {
        max-width: 1200px;
        padding: 0 24px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        }
    .section-head > img {
        padding-bottom: 36px;
    }    

    .section-head > img {
        width: 300px;
    }

    .section-head > p {
        font-size: 0.875rem; /* 14px */
        line-height: 1.25rem; /* 20px */
    }

    .hero-p {
        font-size: 1.25rem; /* 20px */
        line-height: 1.75rem; /* 28px */
    }

    .main-title {
        font-size: 3.5rem; /* 72px */
        line-height: 1;
    }

    .map-card, .graph-card {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    .service-box {
        width: 568px;
    }

    .btn-grad-turq {
        font-size: 1.125rem; /* 18px */
        line-height: 1.75rem; /* 28px */
    }

    .map-card > img {
        max-width: 450px;
        border-radius: 24px 0px 24px 0px;
    }

    .graph-card > img {
        max-width: 500px;
    }

    .company-title img {
        max-width: 450px;
    }

}


@media (max-width:991px){
    .navbar .max-width {
        padding: 0 24px;
    }
}

@media (max-width:947px){
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #7E6B0C;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 1.5rem; /* 24px */
        line-height: 2rem; /* 32px */
    }
}
